// USER VARIABLES SECTION

$textcolor: #222222; // Text Color
$bgcolor: #F6F7F5; // Background Color
$secondgreycolor: #5C5C5C; // Second Grey Color
$placeholdercolor: #BEBEBE; // Placeholder Color
$voodoocolor: #43314B; // Voodoo Color
$nerocolor: #FFFFFF; // Nero Color
$wildwillowcolor: #C2D279; // Wild Willow Color
$sharkcolor: #212529; // Shark Color
$rarebeigecolor: #DFE9B2; // Rare Beige Color
$raregreycolor: #677482; // Rare Grey Color
$mineshaftcolor: #333333; // Mine Shaft Color
$whiterockcolor: #EDE8D9; // White Rock Color
$terracotacolor: #E06752; // Terracota Color
$buildercolor: #777777; // Builder Color
$oslogreycolor: #7C8B8D; // Oslo Grey Color
$fontsize: 16px; // Font Size
$lineheight: 1.6; // Document Line Height
$userfont: 'interdisplay-regular', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 24px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}

@include font('interdisplay-regular', normal, 400, '../../public/fonts/InterDisplay-Regular.woff2');
@include font('interdisplay-medium', normal, 400, '../../public/fonts/InterDisplay-Medium.woff2');
// @include font('interdisplay-condensed-bold', normal, 400, '../../public/fonts/roboto-condensed-bold.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
  color: $placeholdercolor;
}

* {
  box-sizing: border-box;
}

input, textarea {
  outline: none;
}

html {
  font-size: $fontsize;
}

body {
  font-family: $userfont;
  line-height: $lineheight;
  color: $textcolor;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-color: $bgcolor;
}
