@import '_config.scss';

input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
  vertical-align: middle;
}
ul {
  padding-left: 25px;
}
ol {
  padding-left: 25px;
}
p {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}

.content-wrapper {
  padding: 20px 80px;
}

// aside
.aside-nav {
  padding: 60px 40px;
  border-radius: 30px;
  background-color: $voodoocolor;
  .aside-nav-top {
    margin: 0 0 240px 0;
  }
  .nav-item {
    position: relative;
    display: flex;
    margin: 0 0 20px 0;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: $nerocolor;
    align-items: center;
  }
  .nav-item.active {
    background-color: $wildwillowcolor;
  }
  .nav-item__image {
    width: 28px;
    margin: 0 10px 0 0;
  }
  .nav-item__image img {
    width: 100%;
  }
  .arrow-right {
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    display: none;
    margin: auto 0;
  }
  .nav-item.active .arrow-right {
    display: block;
  }
}
